# Redis Cache Broker Configurations
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_CHANNEL=store_events

# Primary Storage Coordinates
DATABASE_PATH=storage/store.db
POS_DATA_PATH=data/pos/brigade_pos.csv

# Port Allocations
API_PORT=8000
DASHBOARD_PORT=3000
